.logo {
	float: left;
	width: 200px;
	height: 150px;
}
h1{
	position: relative;
	top: 18px;
	left: 10px;
	font-family: 'Poiret One', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
}
body{
	background-color: #2affc0;

}